.modal {
  text-align: center;
  background-color: var(--primary-color);
  border: 5px solid var(--primary-darker-color);
  border-radius: 5px;
  padding: 1em;
  color: #dbd8e3;
}

.modal h2 {
  margin: 0;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
