.page {
  display: flex;
}

.sidebar-wishlist {
  background-color: var(--neutral-tertiary-color);
  padding: 5px;
  min-height: 100vh;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: end;
  cursor: pointer;
  margin-bottom: 1em;
}

.sidebar-header h3 {
  margin: 0;
  margin-bottom: 5px;
}

.background {
  flex: 1;
  background-color: whitesmoke;
  height: calc(100vh - 60px);
  color: black;
  min-height: 100vh;
}

.background h3 {
  margin: 0;
}

.no-wishlists {
  text-align: center;
  color: #716b89;
}
