.search-event-container {
  background-color: var(--neutral-tertiary-color);
  margin-top: 0;
  /* padding-top: 1em;
   */
  padding: 1em;
  min-height: calc(100vh - 60px);
}
.search-event {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next row */
  justify-content: space-between; /* Distributes items evenly across the container */
  margin: 1em;
}

.OpenModalItem {
  width: calc(25% - 1em); /* Four items per row */
}
/* .search-event {
  display: flex;
  flex-direction: row;
  margin: 1em;
} */
.input-search {
  justify-content: center;
  display: flex;
}

.search-event-container input {
  width: 90%;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: whitesmoke;
  transition: all 0.2s ease-in-out;
}

.search-event-container input:hover {
  border-color: var(--primary-color);
  background-color: white;
}

.search-event-container input:focus {
  border-color: var(--primary-color);
  background-color: white;
}
