* {
  user-select: none;
}

body {
  margin: 0;
}

:root {
  /* Primary Colors */
  --primary-color: #562b99;
  --primary-lighter-color: #bf94ff;
  --primary-brighter-color: #743ae7;

  /* Secondary Colors */
  --secondary-color: #2a2438;

  /* Neutral Colors */
  --neutral-primary-color: #352f44;
  --neutral-secondary-color: #5c5470;
  --neutral-tertiary-color: #dbd8e3;

  /* Font Sizes */
  --font-size-small: 14px;
  --font-size-medium: 18px;
  --font-size-large: 24px;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;

  /* Font Family */
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Roboto Flex', sans-serif;
  --font-family-tertiary: 'Lobster', sans-serif;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color-red);
}
