.page {
  display: flex;
}

.sidebar {
  background-color: var(--neutral-tertiary-color);
  padding: 5px;
  min-height: 100vh;
}

.sidebar form {
  max-width: 600px;
  border-radius: 5px;
  font-family: var(--font-family-primary);
  margin: 0 auto;
}


.sidebar input {
  display: block;
  margin: 0.5em 0 0 0;
  color: black;
  font-family: var(--font-family-primary);
  width: 92%;
  padding: 10px;
  border: 1px solid var(--neutral-tertiary-color);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.sidebar input:hover,
.sidebar input:focus {
  border-color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
  outline: none;
}

.sidebar input::placeholder {
  color: black;
  font-family: var(--font-family-secondary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: end;
  cursor: pointer;
  margin-bottom: 1em;
}

.sidebar-header h3 {
  margin: 0;
  margin-bottom: 5px;
}

.background {
  flex: 1;
  background-color: whitesmoke;
  height: calc(100vh - 60px);
  color: black;
}

.background h3 {
  margin: 0;
}
