.event-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.event-image {
  flex: 1;
  max-width: 300px;
}

.event-image img {
  width: 100%;
  height: auto;
  margin: 0;
}

.event-details {
  flex: 2;
  padding: 5px;
}

.event-details strong {
  margin: 0;
}

.event-details p {
  margin: 0;
}

.event-card:hover {
  cursor: pointer;
  animation: headShake;
  animation-duration: 1.5s;
}
