.section-login {
  background: var(--primary-color);
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section-login p {
  color: var(--neutral-tertiary-color);
  font-family: var(--font-family-secondary);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-login h1 {
  color: var(--neutral-tertiary-color);
  font-family: var(--font-family-tertiary);
  text-align: center;
  font-size: 80px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  margin: 0.5em 0;
}

.section-login h3 {
  color: var(--neutral-tertiary-color);
  font-family: var(--font-family-primary);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.login form {
  max-width: 600px;
  border-radius: 5px;
  font-family: var(--font-family-secondary);
  margin: 0 auto;
}

.login input {
  display: block;
  margin: 0.5em 0 1em 0;
  color: var(--neutral-tertiary-color);
  font-family: var(--font-family-form);
  width: 92%;
  padding: 10px;
  border: 1px solid var(--neutral-tertiary-color);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.login input:hover,
.login input:focus {
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.5) !important;
  outline: none;
}

.login input::placeholder {
  color: var(--neutral-tertiary-color);
  font-family: var(--font-family-secondary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.login label {
  color: var(--neutral-tertiary-color);
  font-family: var(--font-family-primary);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-login {
  color: white;
  border: 1px solid white;
  background-image: linear-gradient(to right, transparent 50%, #7e3cff 50%);
  background-size: 200%;
  background-position: 0%;
}

.btn-login:hover {
  color: white;
  background-position: 100%;
}

.link {
  color: var(--neutral-tertiary-color);
  font-family: var(--font-family-primary);
  text-decoration: none;
}

.link:hover {
  color: white;
  cursor: pointer;
}

.login-btn {
  text-align: center;
}

.demo-btn {
  text-align: center;
}

.btn {
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 1em auto;
  border-radius: 5px;
  color: #212121;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.4s ease;
  width: 100%;
}

.btn-content {
  color: white;
  border: 1px solid var(--neutral-tertiary-color);
  background-image: linear-gradient(to right, transparent 50%, #7e3cff 50%);
  background-size: 200%;
  background-position: 0%;
}

.btn-content:hover {
  border-color: white;
  background-position: 100%;
}
